/* body css starts */
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Playfair Display','Spirax','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: aliceblue;/* bisque; */
} /* body css ends */
/* anchor tag starts */
a {
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
  text-transform: uppercase;
  height: 40px;
  margin-top: 20px;
} /* anchor tag ends */
/* navbar class starts */
.navbar {
  position: sticky;
  top: 0px;
  background-color: aquamarine;
} /* navbar class ends */
/* hover starts */
nav a:hover {
    background-color: white;
} /* hover ends*/
/* li tag starts */
li {
  text-align: justify;
} /* li tag ends */
/* img tag starts */
nav img {
  display: inline-block;
  padding-right: 900px;
  margin-top: 20px;
} /* img tag ends */
/* comeincenter id starts */
#comecenter {
  text-align: center;
} /* comeincenter id ends */
/* just id starts*/
#justifytext {
  text-align: justify;
} /* just id ends */
/* color class starts */
.color {
  color: aliceblue;
}/* color class ends */
/* label alignment start */
label {
  display: inline-block;
  width: 200px;
} /* label alignment ends */
/* alignright id starts*/
#alignright {
  margin-left: 120px;
} /* alignright id ends*/

.separator {
  margin-top: 10px;
}

#bg-image1 {
  background-image: url("../img/office.jpg");
  height: 500px;
  width: 100%;
  background-size: 100% 100%;
}
#left-part-text {
  margin-left: 40px;
  margin-top: 50px;
  text-align: center;
}
#middle-part-text {
  margin-left: 45%;
  margin-top: 0px;
}
#right-part-text {
  text-align: center;
  margin-top: 200px;
}
.add-shadow {
  font-size: 60px;
  color: fuchsia;
}
.bg-image2 {
  background-image: url('../img/visionhdr.jpg');
  background-size: 100% 100%;
}
.top-pad {
  padding-top: 10px;
}
.bg-image3 {
  background-image: url('../img/gradu.jpg');
  background-size: 100% 100%;
  color: white;
}
#nostyle {
  list-style-type: none;
}
li a {
  text-transform: capitalize;
}
footer {
  background-color: gold;
}
.bg-image4 {
  background-image: url('../img/guidelines.jpg');
  background-size: 100% 100%;
}
.bg-image5 {
  background-image: url('../img/application-form.jpg');
  background-size: 100% 100%;
}